<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='/bower/angular/angular.js'></script>
	<script src='bower/angular/app.js'>	</script>


</head>
<body ng-controller='myController'>
	{{text}}

</body>
</html>