<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form method="post" action="/works/create">
		name:<input name="name" type="text"><br>
		title:<input name="title" type="text"><br>
		descr:<input name="descr" type="text"><br>
		
	<input type="submit">
	</form>

</body>
</html>