<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	hello whis is the works view

	<% data.forEach(function(d){ %>
		<ul>
		<li> <%= d.name %> </li>
		<li> <%= d.title %> </li>
		<li> <%= d.description %> </li>	
		</ul>
	<%  }); %>

</body>
</html>