<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
		
	
		<div> <%= data[0].name %></div>
		<div> <%= data[0].title %></div>
		<div> <%= data[0].description %></div>
		<a href="/works">back</a>


</body>
</html>